body  {
    background-color: lightgreen;

}

.center {
    text-align: center;
   
   
}


.a {
    max-width: 1000px;
    margin: auto;
    padding-bottom: 50px;

}



.b  {
   
    background-color: rgb(6, 232, 6);
    max-width: 1000px;
    margin: auto;
    box-shadow: 10px 10px 10px yellow;
}

.c {
    max-width: 300px;
    margin: auto;
    color: white;
   
}
